body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.slider{
    overflow:hidden;
    transform: none;
    background-size:cover;
    border: 8px solid gray;
}
.slider figure{
    width: 400%;
    margin-bottom: 40px;
    position: relative;
    margin: 0%;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: 0%;
    }
    
}

.slider figure img{
    width: 25%;
    float: left;
    
}
h1{
    text-align: center;
    height: auto;
    width: auto;
    background-color: rgb(216, 191, 216);
}
.container{
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.p{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;

}
.p img{
    display: block;
    width:100%;
    border-radius: 5px;
}
.p:hover{
    transform: scale(1.4);
    z-index:2;
}